* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: aqua;
  overflow: hidden;
}
h1 {
  width: 100%;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  margin-top: 145px;
}
.myname::before {
  content: attr(data-text);
  border-right: 2px solid red;
  color: blue;
  position: absolute;
  top: 0%;
  left: 0;
  width: 0%;
  height: 100%;
  animation: animate 6s linear infinite;
}
.displayblock {
  display: block;
}
.displaynone {
  display: none;
}

@keyframes animate {
  0%,
  10%,
  30%,
  60%,
  100% {
    width: 0%;
  }
  60%,
  70%,
  90% {
    width: 100%;
  }
}
.section {
  margin-top: 100px;
  width: 500px;
  height: 380px;
  background-color: rgb(227 219 219 / 50%);
  margin: 0 auto;
  border-radius: 10px;
}
.displayflex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.radioandbutton {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.enterbutton {
  margin-top: 20px;
}
.div {
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  margin-top: 20px;
  margin-left: 600px;
  width: 80px;
  height: 40px;
  background-color: red;
  position: relative;
  border-radius: 50%;
  animation: linear infinite;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 20px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 20px;
    top: 20px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 20px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.updatepassword {
  margin-top: 30px;
  margin-left: 260px;
  color: blue;
  cursor: pointer;
}
#password,
#email {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.enterbutton {
  width: 130px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  color: black;
  position: absolute;
  top: 565px;
  left: 610px;
  cursor: pointer;
}
.error-mail {
  display: none;
  width: 140px;
  height: 25px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
  top: 350px;
  left: 285px;
}

.error-password {
  display: none;
  width: 170px;
  height: 25px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
  top: 494px;
  left: 255px;
}
.dontwork {
  display: none;
  width: 170px;
  height: 25px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
  top: 430px;
  left: 882px;
}

.margintop {
  margin-top: 70px;
}
.padding {
  padding: 50px;
}
.headerlast {
  position: absolute;
  top: 660px;
  left: 528px;
}
.modal {
  display: none;
  position: fixed;
  left: 200px;
  right: 200px;
  top: 200px;
  bottom: 200px;
  background-color: aliceblue;
  padding: 80px;
  text-align: center;
}
.modal.visible {
  display: block;
}

.modal-content {
  font-size: 30px;
  color: #171717;
  animation-name: animatetop;
  animation-duration: 1s;
}
@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#close-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-left: 770px;
}
.color {
  display: none;
}
.black {
  width: 20px;
  height: 20px;
  background-color: black;
}
.purple {
  width: 20px;
  height: 20px;
  background-color: purple;
}
.green {
  width: 20px;
  height: 20px;
  background-color: green;
}
.orange {
  width: 20px;
  height: 20px;
  background-color: orange;
}
.bodyorange {
  background-color: orange;
  color: black;
}
.yellow {
  width: 20px;
  height: 20px;
  background-color: yellow;
}
.bodyyellow {
  background-color: yellow;
  color: black;
}
.bodyblack {
  background-color: black;
  color: white;
}
.bodygreen {
  background-color: green;
  color: white;
}
.bodypurple {
  background-color: purple;
  color: white;
}
@media (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    max-width: 900px;
  }
  h1 {
    font-size: 29px;
  }
  .div {
    margin-left: 320px;
  }
  .enterbutton {
    left: 325px;
  }
  .headerlast {
    left: 240px;
  }
  .error-mail {
    position: absolute;
    top: 310px;
    left: 182px;
  }
  .error-password {
    position: absolute;
    top: 452px;
    left: 158px;
  }
  .dontwork {
    top: 455px;
    left: 555px;
  }
  .color {
    display: block;
    position: absolute;
    top: 710px;
    left: 140px;
  }
  .colors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 896px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    max-width: 860px;
  }
  header {
    height: 100px;
  }
  h1 {
    margin-top: 100px;
    font-size: 17px;
    margin-left: 5px;
  }
  .section {
    width: 400px;
  }
  #password,
  #email {
    width: 300px;
  }
  .updatepassword {
    margin-top: 0;
    margin-left: 0;
  }
  .dontwork {
    top: 300px;
    left: 120px;
  }
  .error-mail {
    position: absolute;
    top: 210px;
    left: 22px;
  }
  .error-password {
    position: absolute;
    top: 320px;
    left: 10px;
  }
  .enterbutton {
    left: 147px;
    top: 440px;
  }
  .headerlast {
    top: 550px;
    left: 25px;
  }
  .color {
    display: block;
    position: absolute;
    top: 590px;
    left: 28px;
  }
  .div {
    margin-left: 106px;
  }
}
@media (max-width: 667px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section {
    width: 330px;
  }
  #password,
  #email {
    width: 250px;
  }
  .enterbutton {
    left: 130px;
    top: 440px;
  }
  .dontwork {
    width: 170px;
    height: 25px;
  }
  .modal {
    top: 176px;
    left: 7px;
    width: 400px;
    height: 400px;
  }
}
